:root{
--primary-color:#476D71;
--secondary-color:#244142;
--accent-color1:#A9C4C6;
--accent-color2:#587174;
--black:#253031;
--white:#E4EFF1;
}


.flex-container{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.box-left{
  width: 100vw;
  height: 100%;
  background-color: var(--secondary-color);
  flex: 2 2 60%;
  min-width: 50%;
}

.box-right{
  width: 100vw;
  height: 100%;
  flex: 1 1 40%;
  /* background-color: var(--primary-color); */
  background-color: var(--accent-color1);
}





