/* .container{
   display: flex; 
  font-size: 1rem;
  font-family: sans-serif;
} */

.flatUiBtn{
  /* display: inline-flex; */
  box-sizing: border;
  border-radius: .55rem;
  font-size: 1.25rem;
  text-align: center;
  padding: .5rem 1rem;
  background-color: #315659;
  color: #CAE0E2;
  border: none;
    }
