


.general-principles {
    width: 100vw;
    display: flex;
    background-color: #DCE1E3;
    color: black;
    font-family: Roboto;
}

.general-sidebar {
    width: 30vw;
    min-height: 70%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.general-main {
    width: 70vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px
}

.general-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.content {
    display: none;
}

#select-principle {
    font-size: 2rem;
}

.active-content {
    display: "flex";
    justify-content: center;
}

.active-content h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 20px;
    color: #004E7C
}

#page-title {
    text-decoration: underline;
    font-size: 4em;
    color: #004E7C;
}

.active-content h2 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.active-content p {
    margin: 25px 100px 25px 100px;
    font-size: 25px;
}

.general-btns {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 30px;
    background-color: #004E7C;
    color: white;
    cursor: pointer;
    font-family: Roboto;
}

.general-img {
    display: flex;
    padding-left: 20px;
    justify-content: center;
    padding-bottom: 25px;
    margin: 0 15px 0 0;
}

.image-img {
    width: 90%;
    display: flex;
    justify-content: center;
} 

