.golden-container {
    width: 100vw;
    height: 80vh;
    border: 0.5px solid #4A4949;
    display: flex;
}

.item {
    flex-flow: column wrap;
    color: #F2F2F2;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #878787;
    box-sizing: border-box;
    border: 0.5px solid #4A4949;
}

.item.a {
    width: 59vw; 
    background-image: url(https://static.bhphotovideo.com/explora/sites/default/files/styles/top_shot/public/TSruleofthird.jpg?itok=AlzBsCiY);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header {
    padding-top: 10rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

#golden-card-text {
    font-size: 14px;
    margin-block-start: 0em;
    margin-block-end: 2em;
    margin-left: 2em;
    margin-right: 2em;

}

.item.b {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    width: 41vw;
}

.golden-card-header {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: #eec747
}

.golden-crd-img {
    display: flex;
    justify-content: center;
}

.golden-card-header h4 {
    margin-top: 0;
}

.golden-card-header h3 {
    margin-bottom: 7px;
}

.golden-card {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    height: 30rem;
    border: 0.5px solid #4A4949;

}

#fibonacci {
    max-width: 250px;
}
