.container {
    width: 100vw;
    height: 43.2632880099vw;
    border: 0.5px solid #4A4949;
    display: grid;
    grid-template-columns: 61.8% 9.02% 5.58% 23.6%;
    grid-template-rows: 61.8% 9.02% 5.58% 23.6%;
    grid-template-areas: "A B B B" "A E F C" "A E G C" "A D D C";
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    color: #F2F2F2;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #878787;
    box-sizing: border-box;
    border: 0.5px solid #4A4949;
}

.item.a {
    grid-area: A;
    background-color: #eec747;
}


.item.b {
    grid-area: B;
    background-color: #eec747;
}


#fibonacci {
    width: 350px;
    border-radius: 40%;
}

.item.c {
    grid-area: C;
    background-color: #eec747;
}

.item.d {
    grid-area: D;
    background-color: #eec747;
}

.item.e {
    grid-area: E;
    font-size: 1.2em;
    background-color: #eec747;
}

.item.f {
    grid-area: F;
    font-size: 1em;
    background-color: #eec747;
}

.item.g {
    grid-area: G;
    font-size: 0.7em;
    background-color: #eec747;
}