.ig-logo-bg{
  position: relative;
  /* background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%, #cc2366 75%,#bc1888 100%
  );
  instagram logo
  */
 
  height: 200px;
  width: 200px;
  border-radius: 49px;
  background: #171717;
/* background: linear-gradient(145deg, #101010, #131313); */
box-shadow:  17px 17px 40px #090909,-19px -19px 21px #252525;

}

.dark-mode-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ig-logo-bg .logo{
  position: absolute;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  /* border: 12px solid #fff; */
  border: 12px solid #404040;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ig-logo-bg .logo::before{
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50px;
  background: transparent;
  border: 12px solid #404040;
  top: 50%;
  bottom: 50%;
  transform: translate(-31%, -50%);
  box-sizing: border-box;
}

.ig-logo-bg .logo::after{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #404040;
  top: -19px;
  right: -19px;
  border-radius: 50px;
}