.hero-text{
  height: 100%;
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
  text-align: center;
  color: var(--accent-color2);
}

.this{
  font-size: 9rem;
  margin: 6rem 21rem 0 0;
}

.is{
  font-size: 6rem;
  margin: 0 18rem 0 0;
}

.flatUi{
  font-size: 12rem;
  margin: 1rem -1rem 0 -16px;
  font-weight: 600;
  float: right;
  color: var(--primary-color);
}
